In [116]:
import pandas as pd
oddsdf = pd.read_csv(r'C:\Users\jiabi\NBA_Analyzerv2\kaggle_odds_combined.csv', low_memory=False)
playersdf = pd.read_csv(r'C:\Users\jiabi\NBA_Analyzerv2\nba_player_data.csv', low_memory=False)
teamsdf = pd.read_csv(r'C:\Users\jiabi\NBA_Analyzerv2\nba_team_data.csv',low_memory=False)
oddsdf = oddsdf.drop_duplicates()
playersdf = playersdf.drop_duplicates()
teamsdf = teamsdf.drop_duplicates()

In [117]:
playersdf.columns.tolist()

['SEASON_ID',
 'PLAYER_ID',
 'PLAYER_NAME',
 'TEAM_ID',
 'TEAM_ABBREVIATION',
 'TEAM_NAME',
 'GAME_ID',
 'GAME_DATE',
 'MATCHUP',
 'WL',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PLUS_MINUS']

In [118]:
oddsdf.columns.tolist()

['TEAM_ID',
 'TEAM_CITY',
 'TEAM_NAME',
 'TEAM_ABBREVIATION',
 'PLAYER_ID',
 'PLAYER_NAME',
 'PLAYER_SLUG',
 'POSITION',
 'HEIGHT',
 'WEIGHT',
 'AGE',
 'EXPERIENCE',
 'SEASON_YEAR',
 'TEAM_CONFERENCE',
 'TEAM_DIVISION',
 'TEAM_CODE',
 'TEAM_SLUG',
 'W',
 'L',
 'PCT',
 'CONF_RANK',
 'DIV_RANK',
 'MIN_YEAR',
 'MAX_YEAR',
 'TEAM_FULL_NAME',
 'TEMP_PLAYER_ID',
 'FIRST_NAME',
 'LAST_NAME',
 'HEIGHT_WO_SHOES',
 'HEIGHT_WO_SHOES_FT_IN',
 'HEIGHT_W_SHOES',
 'HEIGHT_W_SHOES_FT_IN',
 'WINGSPAN',
 'WINGSPAN_FT_IN',
 'STANDING_REACH',
 'STANDING_REACH_FT_IN',
 'BODY_FAT_PCT',
 'HAND_LENGTH',
 'HAND_WIDTH',
 '13476342',
 '13476358',
 '13476984',
 '13476989',
 '13476995',
 '13555896',
 '13559026',
 '13559042',
 '13559049',
 '13559272',
 '13559290',
 '13559295',
 '13564800',
 '13564810',
 '13564853',
 '13564811',
 '13564829',
 '13564846',
 '13571004',
 '13571013',
 '13571019',
 '13571024',
 '13570988',
 '13570998',
 '13571472',
 '13571488',
 '13584022',
 '13584059',
 '13584064',
 '13584070',
 '13584553',
 '13584557',
 '13651726',
 '13651733',
 '13651740',
 '13651751',
 '13651759',
 '13651989',
 '13652008',
 '13652046',
 '13652157',
 '13652165',
 '13679083',
 '13679725',
 '13679744',
 'Unnamed: 0',
 'player_name',
 'player_team',
 'player_status',
 'game_date',
 'team',
 'home_away',
 'close_moneyline_line',
 'close_spread_line',
 'close_total_line',
 'SBR_team',
 'NBA_team_name',
 'team_id',
 'close_implied_pts',
 'close_implied_pts_allowed',
 'player',
 'team_abbrev',
 'starts',
 'shots',
 'percentage',
 'jumper',
 'jumps',
 'wins',
 'win_rate',
 'last_jump',
 'player_id',
 'pts_rollsum_10',
 'pts_rollsum_25',
 'pts_rollsum_50',
 'pts_rollsum_100',
 'start_rollsum_10',
 'start_rollsum_25',
 'start_rollsum_50',
 'start_rollsum_100',
 'start_rollmean_10',
 'start_rollmean_25',
 'start_rollmean_50',
 'start_rollmean_100',
 'fgpct_10',
 'fgpct_25',
 'fgpct_50',
 'fgpct_100',
 'ftpct_10',
 'ftpct_25',
 'ftpct_50',
 'ftpct_100',
 'usg_10',
 'usg_25',
 'usg_50',
 'usg_100',
 'took_team_first_shot_rollmean_10',
 'took_team_first_shot_rollmean_25',
 'took_team_first_shot_rollmean_50',
 'took_team_first_shot_rollmean_100',
 'made_team_first_basket_rollmean_10',
 'made_team_first_basket_rollmean_25',
 'made_team_first_basket_rollmean_50',
 'made_team_first_basket_rollmean_100',
 'made_team_first_fgm_rollmean_10',
 'made_team_first_fgm_rollmean_25',
 'made_team_first_fgm_rollmean_50',
 'made_team_first_fgm_rollmean_100',
 'made_first_basket_rollmean_10',
 'made_first_basket_rollmean_25',
 'made_first_basket_rollmean_50',
 'made_first_basket_rollmean_100',
 'made_first_fgm_rollmean_10',
 'made_first_fgm_rollmean_25',
 'made_first_fgm_rollmean_50',
 'made_first_fgm_rollmean_100',
 'team_abbreviation',
 'game_id',
 'team_took_team_first_shot_rollmean_10',
 'team_took_team_first_shot_rollmean_25',
 'team_took_team_first_shot_rollmean_50',
 'team_took_team_first_shot_rollmean_100',
 'team_made_team_first_basket_rollmean_10',
 'team_made_team_first_basket_rollmean_25',
 'team_made_team_first_basket_rollmean_50',
 'team_made_team_first_basket_rollmean_100',
 'team_made_team_first_fgm_rollmean_10',
 'team_made_team_first_fgm_rollmean_25',
 'team_made_team_first_fgm_rollmean_50',
 'team_made_team_first_fgm_rollmean_100',
 'team_start_rollmean_10',
 'team_start_rollmean_25',
 'team_start_rollmean_50',
 'team_start_rollmean_100',
 'team_fgpct_10',
 'team_fgpct_25',
 'team_fgpct_50',
 'team_fgpct_100',
 'team_usg_10',
 'team_usg_25',
 'team_usg_50',
 'team_usg_100',
 'season_year',
 'season_type',
 'team_name',
 'matchup',
 'took_team_first_shot',
 'made_team_first_basket',
 'made_team_first_fgm',
 'made_first_basket',
 'made_first_fgm',
 'season',
 'opening_jump',
 'center_court',
 'period',
 'period_clock',
 'home_team_jumper',
 'home_team_person_id',
 'home_team_abbrev',
 'away_team_jumper',
 'away_team_person_id',
 'away_team_abbrev',
 'possession',
 'score_first',
 'score_first_2Q',
 'score_first_3Q',
 'score_first_4Q',
 'home_won_tip',
 'home_score_first',
 'home_score_first_2Q',
 'home_score_first_3Q',
 'home_score_first_4Q',
 'location',
 'min',
 'fgm',
 'fga',
 'ftm',
 'fta',
 'tov',
 'pts',
 'plus_minus',
 'team_min',
 'team_fga',
 'team_fta',
 'team_tov',
 'starter',
 'NBA_team_abbrev',
 'score_first_prob',
 'score_first_2Q_prob',
 'score_first_3Q_prob',
 'score_first_4Q_prob',
 'fpts_prob_glmnet',
 'fpts_prob_earth',
 'model',
 'opp_team_abbrev',
 'won_tip',
 'win_tip_prob_xtip',
 'home_team',
 'spread',
 'score_first_prob_glmnet',
 'score_first_prob_earth',
 'score_first_prob_glmnet_2Q',
 'score_first_prob_earth_2Q',
 'score_first_prob_glmnet_3Q',
 'score_first_prob_earth_3Q',
 'score_first_prob_glmnet_4Q',
 'score_first_prob_earth_4Q',
 'person_id',
 'opp_jumper',
 'opp_person_id',
 'win_tip_prob_glmnet',
 'win_tip_prob_earth',
 'win_tip_prob',
 'Date',
 'Sport',
 'bet_type',
 'away_Team',
 'home_Team',
 'away_1Q',
 'away_2Q',
 'away_3Q',
 'away_4Q',
 'home_1Q',
 'home_2Q',
 'home_3Q',
 'home_4Q',
 'away_score',
 'home_score',
 'away_line',
 'home_line',
 'PLAYER_HEIGHT',
 'PLAYER_HEIGHT_INCHES',
 'PLAYER_WEIGHT',
 'COLLEGE',
 'COUNTRY',
 'DRAFT_YEAR',
 'DRAFT_ROUND',
 'DRAFT_NUMBER',
 'GP',
 'PTS',
 'REB',
 'AST',
 'NET_RATING',
 'OREB_PCT',
 'DREB_PCT',
 'USG_PCT',
 'TS_PCT',
 'AST_PCT',
 'NICKNAME',
 'GAME_ID',
 'GAME_DATE',
 'MATCHUP',
 'WL',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'TOV',
 'STL',
 'BLK',
 'BLKA',
 'PF',
 'PFD',
 'PLUS_MINUS',
 'NBA_FANTASY_PTS',
 'DD2',
 'TD3',
 'GP_RANK',
 'W_RANK',
 'L_RANK',
 'W_PCT_RANK',
 'MIN_RANK',
 'FGM_RANK',
 'FGA_RANK',
 'FG_PCT_RANK',
 'FG3M_RANK',
 'FG3A_RANK',
 'FG3_PCT_RANK',
 'FTM_RANK',
 'FTA_RANK',
 'FT_PCT_RANK',
 'OREB_RANK',
 'DREB_RANK',
 'REB_RANK',
 'AST_RANK',
 'TOV_RANK',
 'STL_RANK',
 'BLK_RANK',
 'BLKA_RANK',
 'PF_RANK',
 'PFD_RANK',
 'PTS_RANK',
 'PLUS_MINUS_RANK',
 'NBA_FANTASY_PTS_RANK',
 'DD2_RANK',
 'TD3_RANK',
 'VIDEO_AVAILABLE_FLAG',
 'SEASON_TYPE',
 'fd',
 'dk',
 'WNBA_FANTASY_PTS',
 'WNBA_FANTASY_PTS_RANK',
 'game',
 'fpts_line',
 'fpts_prob',
 'br_line',
 'br_prob',
 'br_edge',
 'br_kelly',
 'br_units',
 'bs_line',
 'bs_prob',
 'bs_edge',
 'bs_kelly',
 'bs_units',
 'csr_line',
 'csr_prob',
 'csr_edge',
 'csr_kelly',
 'csr_units',
 'dk_line',
 'dk_prob',
 'dk_edge',
 'dk_kelly',
 'dk_units',
 'fd_line',
 'fd_prob',
 'fd_edge',
 'fd_kelly',
 'fd_units',
 'mgm_line',
 'mgm_prob',
 'mgm_edge',
 'mgm_kelly',
 'mgm_units',
 'pb_line',
 'pb_prob',
 'pb_edge',
 'pb_kelly',
 'pb_units',
 'run_timestamp_utc',
 'fpts_team_line',
 'fpts_team_prob',
 'quarter',
 'quarter_team',
 'ftts_line',
 'ftts_prob',
 'fpts_team_glmnet_adj',
 'fpts_team_earth_adj',
 'fpts_team',
 'fpts_game',
 'final_score_first_prob_all',
 'final_score_first_prob_all_2Q',
 'final_score_first_prob_all_3Q',
 'final_score_first_prob_all_4Q',
 'final_win_prob_all',
 'win_tip_prob_opp',
 'win_tip_prob_xtip_opp',
 'HOME_AWAY',
 'LINEUP_DESC',
 'TO_PLAY_DESC',
 'NAME_SHORT',
 'STARTING_POSITION',
 'CREATE_DTTM',
 'play',
 'note',
 'home_injury_status',
 'away_injury_status',
 'status',
 'win_tip_prob_all']

In [119]:
#Dropping dates beyond the betting lines cutoff as they are irrelevant, sorted by time as well
cutoff_date = '2022-12-11'
playersdf['GAME_DATE'] = pd.to_datetime(playersdf['GAME_DATE'])
playersdf = playersdf.loc[(playersdf['GAME_DATE'] < cutoff_date)]
playersdf = playersdf.sort_values(by='GAME_DATE')
playersdf = playersdf.reset_index(drop=True)

In [120]:
#Dropping dates beyond the betting lines cutoff as they are irrelevant, sorted by time as well
teamsdf['GAME_DATE'] = pd.to_datetime(teamsdf['GAME_DATE'])
teamsdf = teamsdf.loc[(teamsdf['GAME_DATE'] < cutoff_date)]
teamsdf = teamsdf.sort_values(by='GAME_DATE')
teamsdf = teamsdf.reset_index(drop=True)

In [121]:
columnsToFetch = [
    'game_date',
    'NBA_team_name',
    'home_away',
    'close_moneyline_line',
    'close_spread_line',
    'close_total_line'
]
#Filter by columns of data I am going to use
oddsdf = oddsdf[columnsToFetch]

oddsdf = oddsdf.dropna(subset=['close_spread_line', 'close_moneyline_line'])

oddsdf = oddsdf.reset_index(drop=True)

print(f"Total Rows: {len(oddsdf)}")
oddsdf.head()

Total Rows: 17305

,game_date,NBA_team_name,home_away,close_moneyline_line,close_spread_line,close_total_line
0,2022-12-12,Memphis Grizzlies,home,-478.277936,-10.5,222.666667
1,2022-12-12,Washington Wizards,home,178.333333,5.5,227.333333
2,2022-12-12,LA Clippers,home,156.000000,4.5,225.500000
3,2022-12-12,San Antonio Spurs,home,343.333333,9.5,220.166667
4,2022-12-12,Indiana Pacers,home,133.666667,3.5,228.500000

In [122]:
nba_teams = [
    "Atlanta Hawks",
    "Boston Celtics",
    "Brooklyn Nets",
    "Charlotte Hornets",
    "Chicago Bulls",
    "Cleveland Cavaliers",
    "Dallas Mavericks",
    "Denver Nuggets",
    "Detroit Pistons",
    "Golden State Warriors",
    "Houston Rockets",
    "Indiana Pacers",
    "LA Clippers",
    "Los Angeles Lakers",
    "Memphis Grizzlies",
    "Miami Heat",
    "Milwaukee Bucks",
    "Minnesota Timberwolves",
    "New Orleans Pelicans",
    "New York Knicks",
    "Oklahoma City Thunder",
    "Orlando Magic",
    "Philadelphia 76ers",
    "Phoenix Suns",
    "Portland Trail Blazers",
    "Sacramento Kings",
    "San Antonio Spurs",
    "Toronto Raptors",
    "Utah Jazz",
    "Washington Wizards"
]
teamsdf = teamsdf[teamsdf['TEAM_NAME'].isin(nba_teams)]
playersdf = playersdf[playersdf['TEAM_NAME'].isin(nba_teams)]
print(f"Total Rows:{len(teamsdf)}")
teamsdf.head(10)

Total Rows:14179

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,12017,1.610613e+09,MIN,Minnesota Timberwolves,11700002.0,2017-09-30,MIN @ LAL,W,240,108,...,0.800,14,35,49,28,7,3,17,21,9.0
1,12017,1.610613e+09,LAL,Los Angeles Lakers,11700002.0,2017-09-30,LAL vs. MIN,L,241,99,...,0.706,13,35,48,27,10,6,17,29,-9.0
2,12017,1.610613e+09,GSW,Golden State Warriors,11700001.0,2017-09-30,GSW vs. DEN,L,240,102,...,0.833,17,36,53,17,13,4,14,28,-6.0
3,12017,1.610613e+09,DEN,Denver Nuggets,11700001.0,2017-09-30,DEN @ GSW,W,240,108,...,0.676,9,40,49,23,6,0,18,24,6.0
4,12017,1.610613e+09,ATL,Atlanta Hawks,11700004.0,2017-10-01,ATL @ MIA,L,241,90,...,0.815,10,32,42,18,14,1,16,25,-6.0
5,12017,1.610613e+09,LAC,LA Clippers,11700003.0,2017-10-01,LAC @ TOR,L,240,113,...,0.795,3,31,34,25,11,0,20,25,-4.0
6,12017,1.610613e+09,MIA,Miami Heat,11700004.0,2017-10-01,MIA vs. ATL,W,240,96,...,0.517,7,41,48,24,5,9,22,22,6.0
7,12017,1.610613e+09,TOR,Toronto Raptors,11700003.0,2017-10-01,TOR vs. LAC,W,240,121,...,0.800,9,35,44,22,14,3,21,34,8.0
9,12017,1.610613e+09,UTA,Utah Jazz,11700007.0,2017-10-02,UTA vs. SYD,W,241,108,...,0.500,8,36,44,31,11,5,16,14,11.0
10,12017,1.610613e+09,DAL,Dallas Mavericks,11700009.0,2017-10-02,DAL vs. MIL,W,241,106,...,0.556,12,30,42,24,12,3,18,16,2.0

In [123]:
#Calculating a players plus minus rolling average to find out their recent "team impact" to measure their impact
playersdf['PLUS_MINUS_ROLLING'] = playersdf.groupby(['PLAYER_ID', 'SEASON_ID'])['PLUS_MINUS'].transform(lambda x : x.rolling(10, min_periods = 1).mean().shift(1))
playersdf

,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,PLUS_MINUS_ROLLING
0,12017,203110.0,Draymond Green,1610612744,GSW,Golden State Warriors,11700001,2017-09-30,GSW vs. DEN,L,...,1,7,8,4,1,0,1,3,-2,NaN
1,12017,1627742.0,Brandon Ingram,1610612747,LAL,Los Angeles Lakers,11700002,2017-09-30,LAL vs. MIN,L,...,3,3,6,1,0,1,2,4,-10,NaN
2,12017,1628366.0,Lonzo Ball,1610612747,LAL,Los Angeles Lakers,11700002,2017-09-30,LAL vs. MIN,L,...,3,4,7,8,2,0,4,2,-11,NaN
3,12017,203914.0,Gary Harris,1610612743,DEN,Denver Nuggets,11700001,2017-09-30,DEN @ GSW,W,...,1,1,2,3,1,0,2,1,4,NaN
4,12017,1628395.0,Jordan Bell,1610612744,GSW,Golden State Warriors,11700001,2017-09-30,GSW vs. DEN,L,...,1,0,1,2,0,1,0,0,-5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153287,22022,1628369.0,Jayson Tatum,1610612738,BOS,Boston Celtics,22200392,2022-12-10,BOS @ GSW,L,...,1,6,7,2,3,1,2,2,-13,14.5
153288,22022,1628382.0,Justin Jackson,1610612738,BOS,Boston Celtics,22200392,2022-12-10,BOS @ GSW,L,...,0,0,0,0,0,0,0,0,2,-5.6
153289,22022,1627763.0,Malcolm Brogdon,1610612738,BOS,Boston Celtics,22200392,2022-12-10,BOS @ GSW,L,...,0,5,5,4,0,0,1,1,-13,6.4
153290,22022,201933.0,Blake Griffin,1610612738,BOS,Boston Celtics,22200392,2022-12-10,BOS @ GSW,L,...,1,6,7,1,0,0,0,1,-3,5.0
153291,22022,1631117.0,Walker Kessler,1610612762,UTA,Utah Jazz,22200393,2022-12-10,UTA @ DEN,L,...,2,6,8,0,0,3,0,2,4,-0.7

In [124]:
#Calculate rolling averages for teams to identify matchup and recent performance
teamsdf['PTS_ROLLING'] = teamsdf.groupby(['TEAM_ID', 'SEASON_ID'])['PTS'].transform(lambda x : x.rolling(10, min_periods = 1).mean().shift(1))
teamsdf['PLUS_MINUS_ROLLING'] = teamsdf.groupby(['TEAM_ID', 'SEASON_ID'])['PLUS_MINUS'].transform(lambda x : x.rolling(10, min_periods = 1).mean().shift(1))
teamsdf['OREB_ROLLING'] = teamsdf.groupby(['TEAM_ID', 'SEASON_ID'])['OREB'].transform(lambda x : x.rolling(10, min_periods = 1).mean().shift(1))
teamsdf['DREB_ROLLING'] = teamsdf.groupby(['TEAM_ID', 'SEASON_ID'])['DREB'].transform(lambda x : x.rolling(10, min_periods = 1).mean().shift(1))
teamsdf['TOV_ROLLING'] = teamsdf.groupby(['TEAM_ID', 'SEASON_ID'])['TOV'].transform(lambda x : x.rolling(10, min_periods = 1).mean().shift(1))
teamsdf['STL_ROLLING'] = teamsdf.groupby(['TEAM_ID', 'SEASON_ID'])['STL'].transform(lambda x : x.rolling(10, min_periods = 1).mean().shift(1))
teamsdf

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,BLK,TOV,PF,PLUS_MINUS,PTS_ROLLING,PLUS_MINUS_ROLLING,OREB_ROLLING,DREB_ROLLING,TOV_ROLLING,STL_ROLLING
0,12017,1.610613e+09,MIN,Minnesota Timberwolves,11700002.0,2017-09-30,MIN @ LAL,W,240,108,...,3,17,21,9.0,NaN,NaN,NaN,NaN,NaN,NaN
1,12017,1.610613e+09,LAL,Los Angeles Lakers,11700002.0,2017-09-30,LAL vs. MIN,L,241,99,...,6,17,29,-9.0,NaN,NaN,NaN,NaN,NaN,NaN
2,12017,1.610613e+09,GSW,Golden State Warriors,11700001.0,2017-09-30,GSW vs. DEN,L,240,102,...,4,14,28,-6.0,NaN,NaN,NaN,NaN,NaN,NaN
3,12017,1.610613e+09,DEN,Denver Nuggets,11700001.0,2017-09-30,DEN @ GSW,W,240,108,...,0,18,24,6.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12017,1.610613e+09,ATL,Atlanta Hawks,11700004.0,2017-10-01,ATL @ MIA,L,241,90,...,1,16,25,-6.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20252,22022,1.610613e+09,SAS,San Antonio Spurs,22200387.0,2022-12-10,SAS @ MIA,W,240,115,...,4,18,21,4.0,106.6,-16.10,12.2,30.2,14.4,6.8
20253,22022,1.610613e+09,IND,Indiana Pacers,22200388.0,2022-12-10,IND vs. BKN,L,240,133,...,3,18,27,-3.0,112.6,-6.32,9.6,30.7,13.1,9.9
20255,22022,1.610613e+09,POR,Portland Trail Blazers,22200394.0,2022-12-10,POR vs. MIN,W,240,124,...,4,16,24,6.0,112.2,-4.70,11.4,31.1,13.4,6.7
20256,22022,1.610613e+09,LAC,LA Clippers,22200389.0,2022-12-10,LAC @ WAS,W,241,114,...,7,10,16,7.0,111.2,-4.80,12.9,33.0,14.7,4.8
20258,22022,1.610613e+09,WAS,Washington Wizards,22200389.0,2022-12-10,WAS vs. LAC,L,240,107,...,3,14,15,-7.0,114.5,-3.30,10.8,31.9,12.4,7.7

In [125]:
oddsdf['game_date'] = pd.to_datetime(oddsdf['game_date'])
final_df = pd.merge(
    teamsdf,
    oddsdf,
    left_on=['TEAM_NAME', 'GAME_DATE'],
    right_on=['NBA_team_name', 'game_date'],
    how='left'
)
final_df = final_df.drop(['game_date', 'NBA_team_name'], axis = 1)

final_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,PTS_ROLLING,PLUS_MINUS_ROLLING,OREB_ROLLING,DREB_ROLLING,TOV_ROLLING,STL_ROLLING,home_away,close_moneyline_line,close_spread_line,close_total_line
0,12017,1.610613e+09,MIN,Minnesota Timberwolves,11700002.0,2017-09-30,MIN @ LAL,W,240,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12017,1.610613e+09,LAL,Los Angeles Lakers,11700002.0,2017-09-30,LAL vs. MIN,L,241,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12017,1.610613e+09,GSW,Golden State Warriors,11700001.0,2017-09-30,GSW vs. DEN,L,240,102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12017,1.610613e+09,DEN,Denver Nuggets,11700001.0,2017-09-30,DEN @ GSW,W,240,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12017,1.610613e+09,ATL,Atlanta Hawks,11700004.0,2017-10-01,ATL @ MIA,L,241,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14174,22022,1.610613e+09,SAS,San Antonio Spurs,22200387.0,2022-12-10,SAS @ MIA,W,240,115,...,106.6,-16.10,12.2,30.2,14.4,6.8,away,588.333333,12.000000,223.0
14175,22022,1.610613e+09,IND,Indiana Pacers,22200388.0,2022-12-10,IND vs. BKN,L,240,133,...,112.6,-6.32,9.6,30.7,13.1,9.9,home,-333.313337,-8.333333,226.0
14176,22022,1.610613e+09,POR,Portland Trail Blazers,22200394.0,2022-12-10,POR vs. MIN,W,240,124,...,112.2,-4.70,11.4,31.1,13.4,6.7,home,-206.657868,-5.166667,230.0
14177,22022,1.610613e+09,LAC,LA Clippers,22200389.0,2022-12-10,LAC @ WAS,W,241,114,...,111.2,-4.80,12.9,33.0,14.7,4.8,away,-198.333333,-5.000000,218.5
14178,22022,1.610613e+09,WAS,Washington Wizards,22200389.0,2022-12-10,WAS vs. LAC,L,240,107,...,114.5,-3.30,10.8,31.9,12.4,7.7,home,166.000000,5.000000,218.5

In [131]:
#Added column "Covered" to find out if the win margin covered the betting spread
model_df = final_df.dropna(subset=['close_spread_line']).copy()

model_df['covered'] = ((model_df['PLUS_MINUS'] + model_df['close_spread_line'])>0).astype(int)
model_df = model_df.reset_index()
model_df

,index,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,PLUS_MINUS_ROLLING,OREB_ROLLING,DREB_ROLLING,TOV_ROLLING,STL_ROLLING,home_away,close_moneyline_line,close_spread_line,close_total_line,covered
0,149,22017,1.610613e+09,BOS,Boston Celtics,21700001.0,2017-10-17,BOS @ CLE,L,241,...,NaN,NaN,NaN,NaN,NaN,away,170.000000,4.500000,216.0,1
1,150,22017,1.610613e+09,CLE,Cleveland Cavaliers,21700001.0,2017-10-17,CLE vs. BOS,W,239,...,NaN,NaN,NaN,NaN,NaN,home,-200.000000,-4.500000,216.0,0
2,151,22017,1.610613e+09,GSW,Golden State Warriors,21700002.0,2017-10-17,GSW vs. HOU,L,241,...,NaN,NaN,NaN,NaN,NaN,home,-470.000000,-9.000000,231.5,0
3,152,22017,1.610613e+09,HOU,Houston Rockets,21700002.0,2017-10-17,HOU @ GSW,W,239,...,NaN,NaN,NaN,NaN,NaN,away,364.000000,9.000000,231.5,1
4,153,22017,1.610613e+09,DEN,Denver Nuggets,21700010.0,2017-10-18,DEN @ UTA,L,242,...,NaN,NaN,NaN,NaN,NaN,away,120.000000,2.500000,205.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11700,14174,22022,1.610613e+09,SAS,San Antonio Spurs,22200387.0,2022-12-10,SAS @ MIA,W,240,...,-16.10,12.2,30.2,14.4,6.8,away,588.333333,12.000000,223.0,1
11701,14175,22022,1.610613e+09,IND,Indiana Pacers,22200388.0,2022-12-10,IND vs. BKN,L,240,...,-6.32,9.6,30.7,13.1,9.9,home,-333.313337,-8.333333,226.0,0
11702,14176,22022,1.610613e+09,POR,Portland Trail Blazers,22200394.0,2022-12-10,POR vs. MIN,W,240,...,-4.70,11.4,31.1,13.4,6.7,home,-206.657868,-5.166667,230.0,1
11703,14177,22022,1.610613e+09,LAC,LA Clippers,22200389.0,2022-12-10,LAC @ WAS,W,241,...,-4.80,12.9,33.0,14.7,4.8,away,-198.333333,-5.000000,218.5,1
11704,14178,22022,1.610613e+09,WAS,Washington Wizards,22200389.0,2022-12-10,WAS vs. LAC,L,240,...,-3.30,10.8,31.9,12.4,7.7,home,166.000000,5.000000,218.5,0

In [132]:
#Separating dataframes from training and testing, (Testing dataframe contains the betting lines)
split_date = '2021-09-30'
train_df = model_df[model_df['GAME_DATE'] < split_date].copy()
test_df = model_df[model_df['GAME_DATE']>=split_date].copy()
print(f"Training on {len(train_df)} games")
print(f"Testing on {len(test_df)} games")

Training on 8363 games
Testing on 3342 games